<!-- Counter Section in Footer -->
<div class="d-flex justify-content-center">
    <div class="row">

        <div class="counter">
            <div class="count">{{ completedProjectsCount }}+</div>
            <div class="label">Projects Completed</div>
        </div>
        <div class="counter">
            <div class="count">{{ membersCount }}+</div>
            <div class="label">Expert Members</div>
        </div>
    </div>
    <div class="row">

        <div class="counter">
            <div class="count">{{ clientsCount }}+</div>
            <div class="label"> Happy Clients</div>
        </div>
        <div class="counter">
            <div class="count">{{ runningProjectsCount }}+</div>
            <div class="label">Running Projects</div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="container">
    <div class="section_head">
        <h3 class="position-relative mb-3">Services We Offer</h3>
        <p>Your One-stop Solution to Meet Your Business Vision and Mission</p>
    </div>
    <div class="row services-container">
        <div class="col-md-4">
            <div class="service-card">
                <h2 class="service-title">Software Development</h2>
                <p class="service-description">We specialize in building responsive and user-friendly websites using the
                    latest web technologies.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card">
                <h2 class="service-title">Web Development</h2>
                <p class="service-description">Our team creates native and hybrid mobile applications for iOS and
                    Android platforms.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card">
                <h2 class="service-title">App Development</h2>
                <p class="service-description">Our team creates native and hybrid mobile applications for iOS and
                    Android platforms.</p>
            </div>
        </div>
    </div>
    <div class="row services-container">
        <div class="col-md-4">
            <div class="service-card">
                <h2 class="service-title">Design Solutions</h2>
                <p class="service-description">We specialize in building responsive and user-friendly websites using the
                    latest web technologies.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card">
                <h2 class="service-title">Ecommerce Solutions</h2>
                <p class="service-description">Our team creates native and hybrid mobile applications for iOS and
                    Android platforms.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card">
                <h2 class="service-title">QA Solutions</h2>
                <p class="service-description">Our team creates native and hybrid mobile applications for iOS and
                    Android platforms.</p>
            </div>
        </div>
    </div>

</div>

<!-- Services -->



<!-- Counter Section in Footer -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <!-- <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Octal footer secion -->
    <!-- <section class="service_section nitro-offscreen nitro-lazy-render">
        <div class="container">
            <div class="section_head">
                <h3 class="position-relative mb-3">Services We Offer</h3>
                <p>Your One-stop Solution to Meet Your Business Vision and Mission</p>
            </div>
            <div class="service_ctg">
                <ul class="shadow">
                    <li> <a href="https://www.octalsoftware.com/software-consulting" class="border-top-0">
                            <figure><i class="sprite2 sd lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">Software <br>Development </p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/mobile-app-development" class="border-top-0">
                            <figure><i class="sprite2 ad lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">App <br>Development</p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/web-development-services" class="border-top-0">
                            <figure><i class="sprite2 wb lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">Web <br>Development</p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/mobile-web-design" class="border-top-0 border-end-0">
                            <figure><i class="sprite2 ds lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">Design <br>Solutions</p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/e-commerce-solutions">
                            <figure><i class="sprite2 es lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">Ecommerce <br>Solutions</p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/quality-commitment">
                            <figure><i class="sprite2 qs lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">QA <br>Solutions</p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/software-consulting">
                            <figure><i class="sprite2 itS lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">Manages IT <br>Services</p>
                            </figcaption>
                        </a> </li>
                    <li> <a href="https://www.octalsoftware.com/hire-dedicated-resources" class="border-end-0">
                            <figure><i class="sprite2 remoteT lazyloaded"></i></figure>
                            <figcaption>
                                <p class="mb-0">Remote <br>Team</p>
                            </figcaption>
                        </a> </li>
                </ul>
            </div>
        </div>
    </section> -->
    <!-- Octal footer secion -->


</footer>




<!-- <div class="container">
    <div class="innovation_heading">
        <h2>Enhancing Business Experience with Technology at Heart</h2>
        <p>At Octal, we don’t deliver tech solutions; we blend magic with innovation. Our techies give your business a
            new identity with out-of-the-box products that make life better.</p>
    </div>
    <ul id="counter">
        <li class="border_end border_bottom">
            <div class="d-flex align-items-center justify-content-center"> <span class="count percent"
                    data-count="1500">1500</span> <span> +</span> </div>
            <h3>Projects Completed</h3>
            <p>Achieving success one milestone at a time</p>
        </li>
        <li class="border_bottom">
            <div class="d-flex align-items-center justify-content-center"> <span class="count percent"
                    data-count="250">250</span> <span> +</span> </div>
            <h3>Expert Members</h3>
            <p>Bring technical expertise with a twist of creativity.</p>
        </li>
        <li class="border_end">
            <div class="d-flex align-items-center justify-content-center"> <span class="count percent"
                    data-count="700">700</span> <span> +</span> </div>
            <h3>Happy Clients</h3>
            <p>Spreading the spirit of technology globally </p>
        </li>
        <li>
            <div class="d-flex align-items-center justify-content-center"> <span class="count percent"
                    data-count="100">100</span> <span> +</span> </div>
            <h3>Running Project</h3>
            <p>Paving the way for futuristic products </p>
        </li>
    </ul>
</div> -->