<div class="flex-grow-1 content-area d-flex flex-column">
  <app-header></app-header>
  <div class="flex-grow-1">
    <ng-content select="router-outlet"></ng-content>
  </div>
  <app-footer></app-footer>
  <div class="fixed-buttons">
    <a href="https://wa.me/9079872046" target="_blank" class="whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="skype:yourSkypeID?call" target="_blank" class="skype">
      <i class="fab fa-skype"></i>
    </a>
    <a href="tel:9079872046" class="phone">
      <i class="fas fa-phone-alt"></i>
    </a>
  </div>
