<nav class="navbar">
    <a href="#" class="navbar-logo"
      ><i class="material-icons">OfficeIT</i> Solutions</a
    >
    <ul class="navbar-links">
        <!-- <li class="navbar-dropdown"><a>Home</a></li> -->
        <li class="navbar-dropdown"><a>About Us</a></li>
      <li class="navbar-dropdown">
        <a href="#">Services</a>
        <div class="dropdown">
          <a href="#">Web Developement</a>
          <a href="#">Mobile Developement</a>
          <a href="#">Software Consulting</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Web Developement</a>
        <div class="dropdown">
          <a href="#">ASP.NET </a>
          <a href="#">PHP</a>
          <a href="#">MEAN Stack</a>
          
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Mobile App Developemnt</a>
        <div class="dropdown">
          <a href="#">Android</a>
          <a href="#">IOS</a>
          <a href="#">Flutter</a>
          
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Software Consulting</a>
        <div class="dropdown">
          <a href="#">CRM</a>
          <a href="#">Saas</a>
          <a href="#">BI</a>
          <a href="#">ERP</a>
          <a href="#">Cloud</a>
        </div>
      </li>
      <!-- <li class="navbar-dropdown">
        <a href="#">Chinese</a>
        <div class="dropdown">
          <a href="#">Paneer Chill Dry</a>
          <a href="#">Paneer Garlic</a>
          <a href="#">Veg Garlic</a>
          <a href="#">Veg Chilli</a>
        </div>
      </li> -->
    </ul>
  </nav>
  <header class="header">
    <div class="header-inner">
      <h1>Office IT</h1>
      <!-- <form>
        <input type="search" placeholder="Enter Your Location" />
        <div class="overlay"></div>
      </form> -->
    </div>
  </header>